---
title: Dana Thomas | UX Designer
my_list:
 - featured work
 - about
 - resume
---


<div class="landing">

  <header>
    <ol>
      <% current_page.data.my_list.each do |f| %>
      <li><%= f %></li>
      <% end %>
      </ol>
  </header>

<div class="landing-container">

<h1>
  Hi, I'm Dana Thomas. I'm a quirky little User Interface &amp Experience Designer based in Michigan, USA.
</h1>

<div class="cta-work">
<%= link_to(
  "Sample Projects",
  "https://www.behance.net/dthomas",
  target: "_blank"
) %>
</div>

</div>
</div>

<div class="content-1">
<p>Work History</p>
</div>

<div class="content-2">
<p>Work History</p>
</div>

<div class="content-3">
<p>Work History</p>
</div>

<div class="content-1">
<p>Work History</p>
</div>

<div class="content-2">
<p>Work History</p>
</div>


<div class="background">
  <h2>A little about me...</h2>
  <p>
    Hola! I'm Dana. Currently I work as a UX/UI Designer with Gordon Food Service, for their Online Ordering eCommerce platform. Previous companies I've worked with include - Quicken Loans (technology) and Lands' End (design). I'm a colorful type that loves finding creative and thoughtful solutions, creating meaningful products and quality experiences. 

    <br>Let's connect at d.thomas014@gmail.com.
  </p>

  <h2>What can I contribute?</h2>
  <p>
    User Experience Skills: Research - User Flows - IA - Wireframing - Balsamiq - Iterative Design <br>
    Web & Interface Design: Sketch - Illustrator - Photoshop - HTML - CSS - jQuery - Flexbox - Github <br>
    Brand & Visual Identity: Typography - Style Guide Creation - Brand Standards - Logo Design
  </p>

</div>
