---
title: Dana Thomas | UX Designer
my_list:
 - featured work
 - about
 - resume
---

<!---------- INTRO SECTION ---------->

<a name="home"></a>

<div class="landing">
<a name="home"></a>

<!-- HEADER NAVIGATION -->

  <header>
    <!-- <ol>
      <% current_page.data.my_list.each do |f| %>
      <li><%= f %></li>
      <% end %>
      </ol> -->
      <a href="#gallery" class="nav-item my-gallery">featured work</a>
      <a href="#about" class="nav-item my-blurb">about</a>

      <a href="https://drive.google.com/open?id=0B-xizpOQR7wrZ1NTUHVpYTJISGs" class="nav-item" target="_blank">resume
      </a>

  </header>


<!-- CONTAINER START -->
<div class="landing-container">

<h1 class="text-intro">
  Hi, I'm Dana Thomas.
  <br><span class="jumbo-text">User Interface &amp Experience Designer</span><br> 
  based in Michigan, USA.
</h1>

<!-- CTA BUTTON -->
<!-- <a name="gallery"></a> -->
<div class="cta-work">
<a href="#gallery" class="cta-text">View My Work</a>
</div>

</div>
<!-- CONTAINER END -->

</div>

<!---------- PROJECT CONTENT SECTION ---------->

<div class="cards">

  <a class="card" href="https://www.behance.net/gallery/42631645/PNC-App-UXUI-Refresh">
    <div class="image"></div>
    <div class="card-title orange">
      PNC Virtual Wallet Refresh
    </div>
    <div class="card-summary">
      A summary will also be present. Usually two to three brief sentences about the content on the detail page.
    </div>
  </a>

  <a class="card" href="https://www.behance.net/gallery/42171969/eBay-Page-Redesign-Concept">
    <div class="image"></div>
    <div class="card-title yellow">
      eBAY Auction Page Redesign
    </div>
    <div class="card-summary">
      A summary will also be present. Usually two to three brief sentences about the content on the detail page.
    </div>
  </a>

  <a class="card blue" href="https://www.behance.net/gallery/41805227/WASH-Landing-Page-Concept">
    <div class="image"></div>
    <div class="card-title blue-site">
      Landing Page Design
    </div>
    <div class="card-summary">
      A summary will also be present. Usually two to three brief sentences about the content on the detail page.
    </div>
  </a>

<a name="gallery"></a>
  <a class="card" href="https://www.behance.net/gallery/45196723/Winc-Email-Design-Mockup">
    <div class="image"></div>
    <div class="card-title">
      Winc Email Design Mock
    </div>
    <div class="card-summary">
      A summary will also be present. Usually two to three brief sentences about the content on the detail page.
    </div>
  </a>


  <a class="card" href="https://www.behance.net/gallery/8968685/Branding-Identity-Logos-and-Logotypes">
    <div class="image"></div>
    <div class="card-title">
      Logos &amp Logotypes
    </div>
    <div class="card-summary">
      A summary will also be present. Usually two to three brief sentences about the content on the detail page.
    </div>
  </a>

  <a class="card" href="https://thom-d.github.io/jquery-launchpad/">
    <div class="image"></div>
    <div class="card-title">
      Launch Pads
    </div>
    <div class="card-summary">
      A summary will also be present. Usually two to three brief sentences about the content on the detail page.
    </div>
  </a>

</div>

<!---------- END PROJECT CONTENT SECTION ---------->    

<!-- <div class="content-1">
<p>Work History</p>
</div> -->

<!---------- Back to Top ---------->

<div class="btn-return">
  <a href="#home" class="return">Take me to the top!</a>
</div>

<!---------- ABOUT SECTION ---------->

<div class="about">
<a name="about"></a> 

<!-- CONTAINER START -->
<div class="container-about">

  <h1 class="text-about">About</h1>

  <hr>

  <h2 class="text-about">
    "I have no special talents. I am only passionately curious." 
    <br> 
    <span class="text-quote">- Albert Einstein</span>
  </h2>

  <hr>

  <p class="text-about-detail">
     Currently I work as a UX/UI Designer with Gordon Food Service. I hold a BAA in Apparel Design, Merchandising and Advertising from Central Michigan University, as well as an assortment of other acquired skills and training. Some professional interests include - ux and interaction design, visual design, and brand management and strategy. 
  </p>

<!-- EMAIL CONTACT LINK -->

  <p class="text-about-detail">
    Let's connect at <a href="mailto:d.thomas014@gmail.com" class="email">d.thomas014@gmail[dot]com</a>
  </p>

</div>
<!-- CONTAINER END -->

</div>

<!---------- FOOTER SECTION ---------->

<footer>
  <div class="footer-container">
    <p class="copyright">&copy 2017 Dana Thomas</p> 

    <a href="https://behance.net/dthomas" class="social-links" target="">   
      Behance
    </a>
    <a href="https://www.linkedin.com/in/dana-thomas1/" class="social-links" target="">
      LinkedIn
    </a>
  </div>
</footer>

 <script src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src="javascripts/site.js"></script>


  <!-- SITE CREATOR INFO --> 

  <!-- 
  Title: Dana Thomas | UX Designer
  Description: Online Web and Design Portfolio
  Author: Dana Thomas
  Author URL: http://www.dnathoms.io/
  Tags: user interface, experience, visual design, web
  -->





