---
title: Dana Thomas | UX Designer
my_list:
 - featured work
 - about
 - resume
---

<!---------- INTRO SECTION ---------->

<div class="landing">

<!-- HEADER NAVIGATION -->

  <header>
    <ol>
      <% current_page.data.my_list.each do |f| %>
      <li><%= f %></li>
      <% end %>
      </ol>
  </header>


<!-- CONTAINER START -->
<div class="landing-container">

<h1 class="text-intro">
  Hi, I'm Dana Thomas.
  <br><span class="jumbo-text">User Interface &amp Experience Designer</span><br> 
  based in Michigan, USA.
</h1>

<!-- CTA BUTTON -->

<div class="cta-work">
<%= link_to(
  "Sample Projects",
  "https://www.behance.net/dthomas",
  target: "_blank"
) %>
</div>

</div>
<!-- CONTAINER END -->

</div>

<!---------- PROJECT CONTENT SECTION ---------->

<div class="content-1">
<p>Work History</p>
</div>

<div class="content-2">
<p>Work History</p>
</div>

<div class="content-3">
<p>Work History</p>
</div>

<div class="content-1">
<p>Work History</p>
</div>

<div class="content-2">
<p>Work History</p>
</div>

<!---------- ABOUT SECTION ---------->

<div class="about">

<!-- CONTAINER START -->
<div class="container-about">

  <h1 class="text-about">About</h1>

  <hr>

  <h2 class="text-about">
    "I have no special talents. I am only passionately curious." 
    <br> 
    <span class="text-quote">- Albert Einstein</span>
  </h2>

  <hr>

  <p class="text-about-detail">
    I'd like to think I have at least a few talents - all of which, began by being curious. Currently I work as a UX/UI Design with Gordon Food Service. I hold a BAA in Apparel Design, Merchandising and Advertising. Professional interests include - ux and interaction design, visual and interface design, and brand strategy...?
  </p>

  <p class="text-about-detail">
    Just a few skills - user flows, wireframing, research, sketch, html, css, 
  </p>

<!-- EMAIL CONTACT LINK -->

  <p class="text-about-detail">
    Let's connect at <span class="email">d.thomas014@gmail[dot]com</span>.
  </p>

</div>
<!-- CONTAINER END -->



  <!-- SITE CREATOR INFO --> 

  <!-- 
  Title: Dana Thomas | UX Designer
  Description: Online Web and Design Portfolio
  Author: Dana Thomas
  Author URL: http://www.dnathoms.io/
  Tags: user interface, experience, visual design, web
  -->

</div>





