---
title: Dana Thomas | UX Designer
my_list:
 - featured work
 - about
 - resume
---


<div class="landing">

  <header>
    <ol>
      <% current_page.data.my_list.each do |f| %>
      <li><%= f %></li>
      <% end %>
      </ol>
  </header>

<div class="landing-container">

<h1 class="text-intro">
  Hi, I'm Dana Thomas. I'm a quirky little <br><span class="jumbo-text">User Interface &amp Experience Designer</span><br> based in Michigan, USA.
</h1>

<div class="cta-work">
<%= link_to(
  "Sample Projects",
  "https://www.behance.net/dthomas",
  target: "_blank"
) %>
</div>

</div>
</div>

<div class="content-1">
<p>Work History</p>
</div>

<div class="content-2">
<p>Work History</p>
</div>

<div class="content-3">
<p>Work History</p>
</div>

<div class="content-1">
<p>Work History</p>
</div>

<div class="content-2">
<p>Work History</p>
</div>


<div class="about">
  <div class="container-about">
  <h1 class="text-about">About</h1>

  <h2 class="text-about">
    "I have no special talents. I am only passionately curious." 
    <br> 
    - Albert Einstein"
  </h2>

  <p>
    I'd like to think I have at least a few talents - all of which, began by being curious. Currently I work as a UX/UI Design with Gordon Food Service. I hold a BAA in Apparel Design, Merchandising and Advertising. Professional interests include - ux and interaction design, visual and interface design, and brand strategy...?
  </p>
  <p>
    Just a few skills - user flows, wireframing, research, sketch, html, css, 
  </p>
  <p>
    Let's connect at d.thomas014[at]gmail.com.
  </p>

</div>
</div>


